/* over write the pixss.min.css */
.main {
  background-color: #ffffff;
  padding-top: 6rem;
  margin-top: 0;
  min-height: 85vh;
}
.topbar {
  box-shadow: none;
  background-color: #f7fafc;
}
pre {
  border-radius: 10px;
}
pre code {
  border: none !important;
}
code[class*=language-] {
  font-size: 14px;
}
h1 {
  color: rgba(7, 7, 7, 0.152);
  font-size: 3.6rem;
}
.footer {
  margin-top: 0;
}

.iconify {
  width: 25px;
  height: 25px;
  margin: 0 3px;
}
img.pixss {
  margin: 0 5px;
  width: 20px;
}
