/* over write the pixss.min.css */
main {
  background-color: white;
  padding-top: 2rem;
}
.topbar {
  box-shadow: none;
  background-color: white;
}
code {
  border: none !important;
}
h1 {
  color: rgba(7, 7, 7, 0.152);
  font-size: 3.6rem;
}
