/* over write the pixss.min.css */
body {
  width: 100%;
  background-color: #ffffff;
}
.card .content {
  overflow: hidden;
}
.main {
  background-color: #ffffff;
}
.topbar {
  box-shadow: none;
  background-color: #ffffff;
}
pre {
  border-radius: 10px;
}
pre code {
  border: none !important;
}
code[class*="language-"] {
  font-size: 14px;
}
h1 {
  color: rgba(7, 7, 7, 0.152);
  font-size: 3.6rem;
}
.footer {
  margin-top: 0;
}

.iconify {
  width: 25px;
  height: 25px;
  margin: 0 3px;
}
img.pixss {
  margin: 0 5px;
  width: 20px;
}
