/* over write the pixss.min.css */
.main {
  background-color: #f7fafc;
  padding-top: 6rem;
  margin-top: 0;
  min-height: 85vh;
}
.topbar {
  box-shadow: none;
  background-color: #f7fafc;
}
pre {
  border-radius: 10px;
}
pre code {
  border: none !important;
}
code[class*=language-] {
  font-size: 14px;
}
h1 {
  color: rgba(7, 7, 7, 0.152);
  font-size: 3.6rem;
}
.footer {
  margin-top: 0;
}
/*
 * ------------------------ .iconify
*/
.iconify {
  color: black;
  width: 40px;
  height: 40px;
}

.yellow {
  display: inline;
  background-color: #ffff6d7e;
}
