/* over write the pixss.min.css */
body {
  width: 100%;
  /* background-color: #ffffff; */
  color: rgba(255,255,255,0.65);
  background-color: #24292e;
  background-image: url(/static/images/star-bg.svg),linear-gradient(#191c20, #24292e 15%);
  background-repeat: repeat-x;
  background-position: center 0, 0 0, 0 0;
}
.card .content {
  overflow: hidden;
}
.main {
  background-color: transparent;
}
.topbar {
  box-shadow: none;
  background-color: #ffffff;
}
pre {
  border-radius: 10px;
}
pre code {
  border: none !important;
}
code[class*="language-"] {
  font-size: 14px;
}
h1 {
  color: rgba(7, 7, 7, 0.152);
  font-size: 3.6rem;
}
.footer {
  margin-top: 0;
}

.iconify {
  width: 25px;
  height: 25px;
  margin: 0 3px;
}
img.pixss {
  margin: 0 5px;
  width: 20px;
}
