/* over write the pixss.min.css */
.topbar {
  box-shadow: none;
}
main .container {
  min-height: 20rem;
  /* max-width: 65rem; */
  padding-top: 2rem;
}
code {
  border: none !important;
}
.footer {
  min-height: 2rem;
  padding: 3rem 0;
}
